<html>
  <head>
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <h4>any2tmx</h4>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
